body {
    font: 100%/1.4  serif,Verdana, Arial, Helvectia, snas-serif;
    background-color: "FFF";
    margin: 0;
    padding: 0;
    color: "#000";
}

    li 
    {
        display: inline;
    }

    ul
    {
        list-style-type: upper-roman;
        margin: 0;
        padding: 0;
    }

    p
    {
        text-indent: 20px;
        padding-left:1%;
    }

#clock {
    font-size: 50px;
    width: 300px;
    margin: 50px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
} 